/* VARIABLES */
/* MIXIN */
/* GENERAL */
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  background-color: #152223;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}

/* FOOTER */
footer {
  background-color: #72160f;
  width: 100%;
  height: none;
  margin-bottom: 0%;
  flex: 0 0 auto;
  padding-left: 5%;
}
footer #contacto {
  color: #EEEEEE;
  margin-bottom: 3%;
}
footer .redes {
  min-width: 700px;
  display: inline-block;
  justify-content: space-around;
}
footer .redes a {
  margin-top: 5%;
  font-size: 15px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #EEEEEE;
  color: #152223;
  border-radius: 50%;
  transition: 1s;
}
footer .redes a:hover {
  scale: 120%;
}

.quien-soy {
  background-color: #152223;
  color: #EEEEEE;
  width: 80%;
  height: auto;
  margin-top: 80px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  display: flex;
  align-self: center;
  align-items: center;
}
.quien-soy #ft-cara {
  width: 30%;
  height: auto;
  margin-top: 0;
  margin-right: 5%;
  margin-bottom: 0;
  margin-left: 10%;
}
.quien-soy .textos {
  max-width: fit-content;
  text-align: left;
  flex: 1;
}
.quien-soy #nombre {
  font-size: 300%;
  font-weight: bolder;
  margin-bottom: 10px;
}
.quien-soy #descripcion {
  font-size: 150%;
  font-weight: lighter;
  margin: 0;
}
@media (max-width: 1200px) {
  .quien-soy #nombre {
    font-size: 200%;
  }
  .quien-soy #descripcion {
    font-size: 100%;
  }
}

.partes-inicio {
  color: #EEEEEE;
  width: 90%;
  height: object-fit;
  margin-top: none;
  margin-right: 5%;
  margin-bottom: none;
  margin-left: 5%;
}
.partes-inicio .parte {
  margin-bottom: 5%;
  background-color: #1b2a2b;
  padding: 5%;
  border-radius: 20px;
}

.btn {
  background-color: #72160f;
  color: #EEEEEE;
  border: 0;
  transition: 1s;
}

.btn:hover {
  background-color: #3f0c09;
  scale: 110%;
}

@media (max-width: 768px) {
  .partes-inicio {
    margin-top: none;
    margin-right: 3%;
    margin-bottom: none;
    margin-left: 3%;
  }
  .partes-inicio .parte {
    margin-bottom: 8%;
  }
  .partes-inicio .parte h3 {
    font-size: 130%;
  }
  .partes-inicio .parte p {
    font-size: 100%;
  }
}
#cv {
  justify-content: center;
  align-self: center;
  width: 60%;
  height: 80%;
  margin-top: 100px;
  margin-right: none;
  margin-bottom: 5%;
  margin-left: none;
}

@media (max-width: 650px) {
  #cv {
    width: 80%;
    height: 80%;
  }
}
form {
  display: inline-block;
  align-self: center;
  justify-content: center;
  margin-top: none;
  margin-right: none;
  margin-bottom: 5%;
  margin-left: none;
  width: 80%;
  height: 100%;
}
form h3 {
  color: #EEEEEE;
  align-self: center;
}
form div {
  margin: 1%;
}
form div label {
  color: #EEEEEE;
}

.texto {
  color: #EEEEEE;
  text-align: center;
  align-items: center;
}
.texto #titulo {
  font-size: 200%;
  font-weight: bolder;
  margin-top: 100px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  margin-bottom: 10px;
}
.texto #subtitulo {
  font-size: 100%;
  font-weight: lighter;
  margin-top: 0;
  margin-right: 5%;
  margin-bottom: 40px;
  margin-left: 5%;
}

/* CARTAS */
.card {
  background-color: #152223;
  color: #EEEEEE;
  padding: 1rem;
  height: 28rem;
  max-width: 1000px;
  transition: 1s;
  margin-top: 0;
  margin-right: 2%;
  margin-bottom: 0;
  margin-left: 2%;
}

.text {
  max-width: 36%;
}

.carouselExampleInterval {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.cards {
  display: grid;
  gap: 1rem;
}

.card:hover {
  scale: 105%;
}

@media (max-width: 570px) {
  .card {
    height: 43rem;
    align-content: center;
    max-width: 400px;
  }
  .text {
    max-width: 100%;
    text-align: center;
    float: none;
  }
}
@media (min-width: 571px) {
  .cards {
    grid-template-columns: repeat(1, 6fr);
  }
}
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 2fr);
  }
}
#atras {
  margin-top: 90px;
  margin-right: none;
  margin-bottom: none;
  margin-left: 4%;
  font-size: 150%;
  color: #EEEEEE;
  text-decoration: none;
  width: 40px;
  height: 40px;
  float: left;
  transition: 2s;
}

#atras:hover {
  scale: 115%;
}

/* GRID PARA PROYECTOS */
.grid-gallery {
  display: grid;
  grid-auto-rows: 20%;
  gap: 2rem;
  grid-auto-flow: row dense;
  margin: 2%;
}

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 2fr);
  }
}
.grid-gallery__item:nth-child(11n+1) {
  grid-column: span 1;
  grid-row: span 3;
}

.grid-gallery__item:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 3;
}

.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

.grid-gallery__image:hover {
  scale: 105%;
}

/*# sourceMappingURL=style.css.map */
