/* VARIABLES */
$blanco: #EEEEEE;
$verde: #152223;
$verde-claro: #1b2a2b;
$rojo: #72160f;
$rojo-oscuro: #3f0c09;
$titulo: 300%;

/* MIXIN */
@mixin sizes ($width, $height) {
  width: $width;
  height: $height;
}
@mixin margin ($mtop, $mright, $mbottom, $mleft) {
  margin-top: $mtop;
  margin-right: $mright;
  margin-bottom: $mbottom;
  margin-left: $mleft;
}
@mixin padding ($ptop, $pright, $pbottom, $pleft) {
  padding-top: $ptop;
  padding-right: $pright;
  padding-bottom: $pbottom;
  padding-left: $pleft;
}

/* GENERAL */
body {
  display: flex;
  flex-direction: column;
  @include sizes(100%, 100%);
  @include margin(0, 0, 0, 0);
  background-color: #152223;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}

/* FOOTER */
footer {
  background-color: $rojo;
  @include sizes (100%, none);
  margin-bottom: 0%;
  flex: 0 0 auto;
  padding-left: 5%;
  #contacto {
      color: $blanco;
      margin-bottom: 3%;
  }
  .redes 
  {
    min-width: 700px;
    display: inline-block;
    justify-content: space-around;
    a {
      margin-top: 5%;
      font-size: 15px;
      @include sizes (40px, 40px);
      line-height: 40px;
      text-align: center;
      background-color: $blanco;
      color: $verde;
      border-radius: 50%;
      transition: 1s;
    }
    a:hover {
      scale: 120%;
    }
  }
}

// INDEX
.quien-soy { // foto, nombre y descripción
  background-color: $verde;
  color: $blanco; // color texto
  @include sizes (80%, auto);
  @include margin(80px, 0, 20px, 0);
  display: flex;
  align-self: center;
  align-items: center;
  #ft-cara {
    @include sizes (30%, auto);
    @include margin(0, 5%, 0, 10%); 
  }
  .textos {
    max-width: fit-content;
    text-align: left; // Alineamos los textos a la izquierda
    flex: 1; // Hacemos que los textos ocupen el espacio restante disponible
  }
  #nombre {
    font-size: $titulo;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  #descripcion {
    font-size: 150%;
    font-weight: lighter;
    margin: 0;
  }
  @media (max-width: 1200px) { // achicar tamaño a menor pantalla
    #nombre {
      font-size: 200%;
    }
    #descripcion {
      font-size: 100%;
    }
  }
}
.partes-inicio { // cartas de texto
  color: $blanco;
  @include sizes(90%, object-fit);
  @include margin (none, 5%, none, 5%);
  .parte {
    margin-bottom: 5%;
    background-color: $verde-claro;
    padding: 5%;
    border-radius: 20px;
  }
}
.btn {
  background-color: $rojo;
  color: $blanco;
  border: 0;
  transition: 1s;
}
.btn:hover { // transición
  background-color: $rojo-oscuro;
  scale: 110%;
}
@media (max-width: 768px) {  
  .partes-inicio {
    @include margin (none, 3%, none, 3%);
    .parte {
      margin-bottom: 8%;
      h3 { font-size: 130%; }
      p { font-size: 100%; }
    }
  }
}

// CV
#cv {
  justify-content: center;
  align-self: center;
  @include sizes (60%, 80%);
  @include margin (100px, none, 5%, none);
}
@media (max-width: 650px) {
  #cv {
      @include sizes (80%, 80%);
  }
}
form {
  display: inline-block;
  align-self: center;
  justify-content: center;
  @include margin (none, none, 5%, none);
  @include sizes (80%, 100%);
  h3 {
      color: $blanco;
      align-self: center;
  }
  div {
      margin: 1%;
      label {
          color: $blanco;
      } 
  }
}

// PORTFOLIO
.texto {
  color: $blanco;
  text-align: center;
  align-items: center;
  #titulo {
    font-size: 200%;
    font-weight: bolder;
    @include margin(100px, 0, 10px, 0);
    margin-bottom: 10px;
  }
  #subtitulo {
    font-size: 100%;
    font-weight: lighter;
    @include margin(0, 5%, 40px, 5%);
  }
}
/* CARTAS */ 
.card {
  background-color: $verde;
  color: $blanco;
  padding: 1rem;
  height: 28rem;
  max-width: 1000px;
  transition: 1s;
  @include margin(0, 2%, 0, 2%)
}
.text { max-width: 36%; } // para que no se desborde de la card
.carouselExampleInterval {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.cards {
  display: grid;
  gap: 1rem;
}
.card:hover {
  scale: 105%;
}
@media (max-width: 570px) {
  .card {
      height: 43rem;
      align-content: center;
      max-width: 400px;
  }
  .text{ 
    max-width: 100%;
    text-align: center;
    float: none;
  }
}
@media (min-width: 571px) { //cambiar distribución de cards según tamaño de pantalla
  .cards { grid-template-columns: repeat(1, 6fr); }
}
@media (min-width: 1200px) {
  .cards { grid-template-columns: repeat(2, 2fr); }
}

// PROYECTOS
#atras { // flecha para volver a la página anterior
  @include margin (90px, none, none, 4%);
  font-size: 150%;
  color: $blanco;
  text-decoration: none;
  @include sizes (40px, 40px);
  float: left;
  transition: 2s;
}
#atras:hover { scale: 115%; }
/* GRID PARA PROYECTOS */
.grid-gallery {
  display: grid;
  grid-auto-rows: 20%;
  gap: 2rem;
  grid-auto-flow: row dense;
  margin: 2%;
}
@media all and (min-width: 320px) {
  .grid-gallery {
      grid-template-columns: repeat(1, 1fr);
  }
}
@media all and (min-width: 768px) {
  .grid-gallery {
      grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 1024px) {
  .grid-gallery {
      grid-template-columns: repeat(3, 2fr);
  }
}
.grid-gallery__item:nth-child(11n+1) {
  grid-column: span 1;
  grid-row: span 3;
}
.grid-gallery__item:nth-child(11n+4) {
  grid-column: span 2;
  grid-row: span 3;
}
.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}
.grid-gallery__image:hover {
  scale: 105%;
}